*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::before{
    box-sizing: border-box;
}
*::after{
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
input{
    font: inherit;
}
a{
    color: inherit;
    text-decoration: inherit;
}
body{
    font-size: 12px;
    line-height: 1.5;
}

/* layout */
.page{
    display: flex;
    height: 100vh;
}
.page > aside{
    width: 300px;
}
.page > main{
    flex-grow: 1;
}

/* aside */
.page > aside{
    display: flex;
    flex-direction: column;
}
.newSong{
    padding: 10px;
    text-align: center;
}
.newSong.active{
    background-color: #9ecde9;
}
#songList-container{
    flex-grow: 1; 
}
#songList-container .songList{
    text-align: left;
    border-top:1px solid black;
}
#songList-container .songList li{
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
#songList-container .songList li.active{
    background-color: #9ecde9;
}
.uploadArea{

}
.dropable {
    text-align: center;
    border: 1px dashed gray;
    padding:50px 0px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    flex-direction: column;
}
.clickable {
    cursor: pointer;
}
/* form */
.page main{
    background-color: #9ecde9;
    padding-top: 20px;
}
.form{
    font-size: 16px;
}
.form > .row{
    margin: 20px 0;
    display: flex;
}
.form > .row > label{
    width: 4em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5px;
}
.form input[type=text]{
    padding: 3px 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.form input[type=button],
.form input[type=submit],
.form button{
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
.form .row.actions button{
    margin-left:calc(4em + 5px);
    font-size: 16px;
    border: 1px solid #ddd;
    background-color: white;
}
.page > main > .form{

}